.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 30vw;
	height: 100vh;
}

.menu-item {
	width: 100%;
	height: 80px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	font-size: 1.2em;
}

.menu-item:hover {
	cursor: pointer;
	background-color: #ECEFF1;
	transition-duration: 1s;
}

.menu-item * {
	margin-left: 1vw;
	margin-right: 1vw;
}

