.container {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-columns: 70vw 30vw;

	font-family: 'Alegreya';
}

.container-left {
	grid-column: 1;
	overflow: hidden
}

.container-left img {
	width: 100%;
	height: auto;
}

.container-right {
	grid-column: 2;
	
	display: grid;
	grid-template-areas:
			"a a"
			"b b"
			"b b"
			"c c"
}

.container-right .center-right {
	grid-area: b;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right .bottom-right {
	grid-area: c;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right button {
	border: #B0BEC5 solid 2px;
	border-bottom: #B0BEC5 solid 4px;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	width: 150px;
	height: 50px;
}

.container-right button:hover {
	border: #3F51B5 solid 2px;
	border-bottom: #3F51B5 solid 4px;
	transition-duration: 1s;
}

.title {
	font-family: 'Alegreya Sans';
}

.detail {
	width: 80%;
	text-align: center;
	font-size: 1.2em;
}

.listenning {
	font-family: 'Alegreya Sans';
	font-size: 1em;
}

.listenning .bolded {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('../../font/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}

@font-face {
	font-family: 'Alegreya';
	src: url('../../font/Alegreya/Alegreya-Regular.ttf');
}

