.skillitem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 20vw;
	height: 50px;

	border-bottom: #B0BEC5 solid 2px;
}

.skillitem:hover {
	cursor: pointer;
	border-bottom: #3F51B5 solid 2px;
	transition-duration: 1s;
}

.active {
	background-color: #ECEFF1;
	border-bottom: #3F51B5 solid 2px;
}

.skillitem * {
	margin-left: 1vw;
	margin-right: 1vw;
}

.skillitem img {
	width: 2vw;
	height: auto;
}

.skillitem .skilltitle {
	font-size: 1em;
}

