.container {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-columns: 70vw 30vw;

	font-family: 'Alegreya';
}

.container-left {
	grid-column: 1;
	overflow: hidden;
	background-color: #ECEFF1;
}

.container-left img {
	width: 100%;
	height: auto;
}

.container-right {
	grid-column: 2;
	
	display: grid;
	grid-template-areas:
			"a a"
			"b b"
			"b b"
			"c c";

	border-top: #ECEFF1 solid 2px;		
}

.container-right .center-right {
	grid-area: b;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right .bottom-right {
	grid-area: c;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right button {
	border: #B0BEC5 solid 2px;
	border-bottom: #B0BEC5 solid 4px;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	width: 150px;
	height: 50px;
}

.container-right button:hover {
	border: #3F51B5 solid 2px;
	border-bottom: #3F51B5 solid 4px;
	transition-duration: 1s;
}

.title {
	font-family: 'Alegreya Sans';
}

.normal {
	font-family: 'Alegreya';
}

.detail {
	width: 80%;
	text-align: center;
	font-size: 1.2em;
}

.listenning {
	font-family: 'Alegreya Sans';
	font-size: 1em;
}

.listenning .bolded {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.align-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.text-underlined {
	text-decoration: underline;
}

.badge {
	border: none;
	border-radius: 4px;

	background-color: #CFD8DC;
	
	width: auto;
	height: 20px;
	font-size: 0.8em;

	padding-left: 6px;
	padding-right: 6px;

	color: #fff;
}

.bdg-blue {
	background-color: #03A9F4;
}

.bdg-green {
	background-color: #4CAF50;
}

.centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.card {
	width: 50vw;
	height: 60vh;

	background-color: #fff;
	border: none;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card * {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.card img {
	width: 10vw;
	height: auto;
	margin: 0;
}

.card ul {
	max-height: 30vh;
	text-align: start;
}

.appear-anim {
	animation-name: appear;
	animation-duration: 1s;
	animation-timing-function: linear;
}

hr {
	width: 60%;
	border: #CFD8DC solid 1px;
}

@keyframes appear {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: translateY(20px);
	}
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('./font/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}

@font-face {
	font-family: 'Alegreya';
	src: url('./font/Alegreya/Alegreya-Regular.ttf');
}

