body {
	overflow: hidden;
}

.container {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-columns: 70vw 30vw;

	font-family: 'Gentium';
}

.container-left {
	grid-column: 1;
	overflow: hidden;
	background-color: #ECEFF1;
}

.container-left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-right {
	grid-column: 2;
	
	display: grid;
	grid-template-areas:
			"a a"
			"b b"
			"b b"
			"b b"
			"c c";

	border-top: #ECEFF1 solid 2px;		
	height: 100vh;
}

.container-right .center-right {
	grid-area: b;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right .bottom-right {
	grid-area: c;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-right button {
	border: #B0BEC5 solid 2px;
	border-bottom: #B0BEC5 solid 4px;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	width: 200px;
	height: 60px;

	margin-top: 4vh;
	margin-bottom: 1vh;
	font-size: 1em;
}

.container-right button:hover {
	border: #3F51B5 solid 2px;
	border-bottom: #3F51B5 solid 4px;
	transition-duration: 1s;
}

.title {
	font-family: 'Open Sans';
}

.normal {
	font-family: 'Gentium';
}

.detail {
	width: 80%;
	text-align: center;
	font-size: 1.2em;
}

.listenning {
	font-family: 'Open Sans';
	font-size: 1em;
}

.listenning .bolded {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.align-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.text-underlined {
	text-decoration: underline;
}

.badge {
	border: none;
	border-radius: 4px;

	background-color: #CFD8DC;
	
	width: auto;
	height: 20px;
	font-size: 0.8em;

	padding-left: 6px;
	padding-right: 6px;

	color: #fff;
}

.bdg-blue {
	background-color: #03A9F4;
}

.bdg-green {
	background-color: #4CAF50;
}

.centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.centered-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-content {
	background-color: #fff;
	opacity: 0.8;
}

.card {
	width: 50vw;
	height: 60vh;

	background-color: #fff;
	border: none;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-small {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: #fff;
}

.card-small .content {
	z-index: 1;
	margin: -35vh 0 0 0;	
	width: 80%;
	height: 35vh;
	font-size: 1.2em;
	font-weight: bold;
}

.card-small img {
	object-fit: cover;
	z-index: 0;	
}

.card-long {
	width: 70vw;
	height: 100vh;

	background-color: #ECEFF1;
	border: none;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-container-3-col {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;

	width: 100%;
	height: auto;
	margin: 0;	
}	

.card-container-3-col div {
	background-color: #fff;

	width: 90%;
	height: auto;

	margin-left: 1vw;
	margin-right: 1vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.card-container-3-col div p {
	width: 95%;
}

.card * {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.card img {
	width: 10vw;
	height: auto;
	margin: 0;
}

.card ul {
	max-height: 30vh;
	text-align: start;
}

.appear-anim {
	animation-name: appear;
	animation-duration: 1s;
	animation-timing-function: linear;
}

hr {
	width: 60%;
	border: #CFD8DC solid 1px;
}

.split-4 {
	display: grid;
	width: 100%;
	height: 100%;

	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;	
}

.split-pos-1 {
	grid-area: a;
}

.split-pos-2 {
	grid-area: b;
}

.split-pos-3 {
	grid-area: c;
}

.split-pos-4 {
	grid-area: d;
}

.split-2-h {
	display: grid;
	grid-template-rows: 35% 65%;

	width: 100%;
	height: 100%;
}

.white-font {
	color: #fff;
}

.gray {
	filter: grayscale(0.8);
	transition-duration: 0.5s;
}

.line {
	background-color: #FFF;

	width: 70%;
	height: 130px;
}

.line ul {
	max-width: 30vw;
	text-align: start;
}

.card-line {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	width: 70%;
	height: 100px;

	margin-top: 1vh;
	margin-bottom: 1vh;
}

.card-line img {
	width: 70px;
	height: 70px;
	margin-left: 1vw;
	margin-right: 1vw;
	object-fit: cover;
}

.card-line:hover {
	background-color: #F5F5F5;
	transition-duration: 0.5s;
}

.fat-line {
	width: 75%;
	height: 150px;
	
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 3vh;
	margin-bottom: 3vh;

	border: none;
	border-radius: 2px;
}

.fat-line h4 {
	width: 200px;
}

.fat-line img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.fat-line p {
	width: calc(100% - 350px);
}

.centered-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@keyframes appear {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: translateY(20px);
	}
}

@font-face {
	font-family: 'Open Sans';
	src: url('./font/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Gentium';
	src: url('./font/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf');
}

